*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# dozvoli samo import folder i csv
!storage/
!storage/app/
!storage/app/import/
!storage/app/import/monasteries.csv

# ali i dalje ignoriši ostalo iz storage
/storage/*
!/storage/app/
!/storage/app/import/
!/storage/app/import/monasteries.csv

/storage/framework/sessions
/storage/*.key
/storage/pail